app = "transactionaggregationapi"
primary_region = "jnb"

[build]
  dockerfile = "Dockerfile"

[env]
  ASPNETCORE_ENVIRONMENT = "Production"

[http_service]
  internal_port = 8080
  force_https = false         
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 25

  [[http_service.checks]]
    type = "http"
    interval = "10s"
    timeout = "2s"
    method = "GET"
    path = "/health"
    protocol = "http"