app = "transactionaggregationapi"
primary_region = "jnb"

[build]
  dockerfile = "Dockerfile"

[env]
  ASPNETCORE_URLS = "http://0.0.0.0:8080"
  ASPNETCORE_ENVIRONMENT = "Production"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.http_checks]
    method = "GET"
    path = "/health"
    interval = "10s"
    timeout = "2s"
    protocol = "http"