app = "transactionaggregationapi"
primary_region = "jnb"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true

  [[http_service.checks]]
    type = "http"
    interval = "10s"
    timeout = "2s"
    method = "GET"
    path = "/health"
